#button1 {
    border-radius: 40px;
    align-items: center;
    width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 440px;
}

#button2{
    border-radius: 40px;
    width: 200px;
    color: white;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

@media only screen and (max-width:600px) {
    #button1 {
        border-radius: 40px;
        align-items: center;
        font-size: 10px;
        width: 150px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 260px;
    }
    
    #button2{
        border-radius: 40px;
        font-size: 10px;
        width: 150px;
        color: white;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
        transform: translate(23px,-30px);
        
    }
    
    
}