#button1 {
    border-radius: 40px;
    align-items: center;
    width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 440px;
}

#button2{
    border-radius: 40px;
    width: 200px;
    color: white;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    
}