@import url(Main-content.css);
@import url(buttons.css);
@import url(Nav-bar.css);

body {
    background-image: url(homedesign2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

#Main-content {
    width: 90%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 50px;
    
    margin-bottom: 10px;
}

#Nav-bar {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media only screen and (max-width:600px) {
    #Main-content {
        width: 90%;
        height: 30%;
        margin-left: auto;
     
        margin-right: auto;
        padding: 10px;
        margin-top: 50px;
        /* transform: translateX(50px); */
        
        margin-bottom: 10px;
    }
    
    
}